
*.zip
*.aab
*.cpp
*.c
*.json
*.dll
*.pdb
*.txt
*.x86_64
*.dat
*.debug
*.info
*.config
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/globalgamemanagers
*.assets
*.resS
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/level0
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/level1
*.0
*.so
*.resource
*.png
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/Resources/unity default resources
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/level3
Flappy Tux/builds/linux/FlappyTux-V1.0.0-PublicBeta1-Linux_Data/level2
*.exe
Flappy Tux/builds/Windows/Flappy Tux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/Windows/Flappy Tux_Data/Resources/unity default resources
Flappy Tux/builds/Windows/Flappy Tux_Data/level3
Flappy Tux/builds/Windows/Flappy Tux_Data/level2
Flappy Tux/builds/Windows/Flappy Tux_Data/level1
Flappy Tux/builds/Windows/Flappy Tux_Data/level0
Flappy Tux/builds/Windows/Flappy Tux_Data/globalgamemanagers
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/globalgamemanagers
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/level0
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/level1
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/level2
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/level3
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/Resources/unity default resources
Flappy Tux/builds/Linux/FlappyTux-V1.0.0-Linux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/32/Flappy Tux_Data/globalgamemanagers
Flappy Tux/builds/32/Flappy Tux_Data/level0
Flappy Tux/builds/32/Flappy Tux_Data/level1
Flappy Tux/builds/32/Flappy Tux_Data/level2
Flappy Tux/builds/32/Flappy Tux_Data/level3
Flappy Tux/builds/32/Flappy Tux_Data/Resources/unity default resources
Flappy Tux/builds/32/Flappy Tux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/64/Flappy Tux_Data/globalgamemanagers
Flappy Tux/builds/64/Flappy Tux_Data/level0
Flappy Tux/builds/64/Flappy Tux_Data/level1
Flappy Tux/builds/64/Flappy Tux_Data/level2
Flappy Tux/builds/64/Flappy Tux_Data/level3
Flappy Tux/builds/64/Flappy Tux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/64/Flappy Tux_Data/Resources/unity default resources
Flappy Tux/builds/ARM64/Flappy Tux_Data/globalgamemanagers
Flappy Tux/builds/ARM64/Flappy Tux_Data/level0
Flappy Tux/builds/ARM64/Flappy Tux_Data/level2
Flappy Tux/builds/ARM64/Flappy Tux_Data/level1
Flappy Tux/builds/ARM64/Flappy Tux_Data/level3
Flappy Tux/builds/ARM64/Flappy Tux_Data/Resources/unity default resources
Flappy Tux/builds/ARM64/Flappy Tux_Data/Resources/unity_builtin_extra
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/globalgamemanagers
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/level0
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/level1
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/level2
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/level3
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/Resources/unity default resources
Flappy Tux/builds/Linux/FlappyTux-V1.1.0-Linux_Data/Resources/unity_builtin_extra
