#-- Others

*.tmp
*.log
*.bak

#-------------------------------------------------------------------------------
# Windows

#-- image file cache
Thumbs.db

#-- Folder config file
Desktop.ini
folder-*.ico

#-- Recycle Bin used on file shares
$RECYCLE.BIN/


#-------------------------------------------------------------------------------
# MacOS

*~
*.lock
*.DS_Store
*.swp
*.out


#-------------------------------------------------------------------------------
# Unity testing game builds.

Builds/
Builds/Windows/
Builds/HTML5/
Builds/MacOS/
Builds/iOS/
Builds/Linux/
Builds/Android-GooglePlay-Packages/
Builds/Android-Testing-APKs/
